# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# ML model
scheme_model.pkl
*.pkl

# Runtime database
feedback.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db